@import "./../../mixins";

.Header {
  padding: 0.8rem 1rem;
  transition: all 0.25s ease-in-out;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  user-select: none;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > a:last-child {
      font-size: 0.7rem;
      margin-right: 2.3rem;
      padding: 0.3rem 0.5rem;
    }
  }

  &__logo {
    width: 6rem;
  }

  @include media-breakpoint-up($screen-lg) {
    padding: 1.25rem 3rem;

    &__logo {
      width: 10rem;
    }

    > div > a:last-child {
      font-size: 1rem;
      margin-right: 0;
      padding: 0.3rem 1.5rem;
      border-color: rgb(243, 243, 243);
    }
  }
}

.Fixed {
  background: hsla(360, 100%, 100%, 0.95);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding-block: 0.8rem;

  > div > a:last-child {
    border: 0.125rem solid #2a2a2a;
  }
}
