@import "../../../mixins";
@import "../../../_variables";

.booking-article{
    @include flex(column, flex-start, center);
    gap: 5rem;    
    padding: 0 5%;

    >hr{
        height: 0px;
        width: 90%;
        border-color: ($text5);
    }
}