@import "./../../../../mixins";

.CategoryContainer {
  margin-block: 4.375rem;
  min-height: fit-content;

  &__title {
    padding: 2rem;
    text-align: center;

    h2 {
      font-family: 'IBM Plex Serif';
      font-size: 1.6rem;
      margin-bottom: 2rem;
      font-weight: 500;
    }
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 3.75rem;

    button {
      width: fit-content;
      min-height: 3rem;
      border-radius: 0.625rem;
      margin: 0;
      padding-inline: 1rem;
      font-size: medium
    }
  }

  @include media-breakpoint-up($screen-sm) {
    &__title {
      h2 {
        font-size: 2.3rem;
      }
  
      p {
        font-size: 1rem;
      }
    }

    &__categories {
      gap: 2.5rem;
    }
  }

  @include media-breakpoint-up($screen-lg) {
    &__title {
      display: flex;
      align-items: center;
      gap: 3.438rem;
      text-align: left;

      p,
      h2 {
        flex: 50%;
      }
      
      h2 {
        font-size: 2.5rem;
      }
  
      p {
        font-size: 1.5rem;
      }
    }
  }
}
