@import "./../../mixins";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  background: hsla(360, 100%, 100%, 0.9);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  &__logo {
    width: 6rem;
  }

  > button {
    font-size: 0.7rem;
    margin-right: 1.5rem;
    padding: 0.3rem 0.5rem;
  }

  @include media-breakpoint-up(1000px) {
    padding: 1.25rem 3rem;
    &__logo {
      width: 10rem;
    }
    > button {
      font-size: 1rem;
      margin-right: 0;
      padding: 0.3rem 1.5rem;
    }
  }
}
