.CreatePlaceView {
  padding: 5.313rem 3rem 3rem;
  max-width: 90rem;
  width: 100%;
  margin-inline: auto;

  h1 {
    font-family: "IBM Plex Serif";
    font-size: 2rem;
    font-weight: 600;
    margin: 2rem 0;
  }
}
