@import "../../../../../mixins";
@import "../../../../../_variables";

.booking-form{
    @include flex(column, center, center);
    padding: 1.5rem;
    gap: 1rem;
    font-family: ($body-label-tittle-font);
    border: 0.0625rem solid #b4b4b4;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.3125rem 0.1563rem rgba(0, 0, 0, 0.2);
    width: 100%;

    label {
        margin-block: 0.7rem 0.5rem;
        display: block;
    }
    
    >:first-child{
        @include flex(column, flex-start);
        gap: 1rem;
        
        >:first-child{
            width: 100%;
            @include flex(row, space-between, center);
            font-weight: 600;
            
            >:first-child{
                @include flex(row);
                font-size: 1.5rem;
                font-weight: 300;
                gap: 0.25rem;
                >h2{
                    font-weight: 700;
                    font-size: 2.5rem;
                }
            }
        }
       >:nth-child(2){
           border: none;
           width: 100%;
        }
    }
    
    @include media-breakpoint-up(600px) {
        width: 36%;
    }
}