@import "./../../../mixins";

.FormGroupInput {
  position: relative;

  &__input {
    @include forminput;
    @include formfloatlabel;
  }

  &__label {
    @include formlabel;
  }

  & input.has-icon {
    padding-right: 3rem;
  }

  & input.has-error{
    border-color: rgb(255, 88, 88);

    ~ svg,
    ~ button svg {
      fill: red;
    }
  }

  button {
    cursor: pointer;
    border: none;
    padding: 0;
  }

  > svg {
    pointer-events: none;
    width: 1.25rem;
    height: 1.25rem;
  }

  > svg, button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.25rem;
    height: 1.25rem;
  }
}
