@import "./../../mixins";

.Form {
  // margin-inline: 4vw;
  width: 100%;

  > button {
    width: 100%;
    margin: 0;
    padding-block: 0.6rem;
  }

  // @include media-breakpoint-up($screen-sm) {
  //   margin-inline: 0;
  // }
}
