@import "./../../../../mixins";

.FeatureContainer {
  padding-block: 5rem;
  position: relative;
  min-height: 100vh;

  img {
    position: absolute;
    width: 64.604rem;
    height: 57.715rem;
    left: -28rem;
    z-index: -1;
  }

  &__title {
    gap: 11.875rem;

    h2 {
      font-weight: 600;
      font-size: 2.5rem;
      text-align: center;
    }
  }

  @include media-breakpoint-up($screen-md) {
    padding-block: 10rem;

    &__title {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 3.438rem;

      h2 {
        text-align: left;
      }
    }
  }

  @include media-breakpoint-up($screen-lg) {
    &__title {
      gap: 11.875rem; 
    }

    h2 {
      font-size: 3.988rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
