.comment-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    width: 30rem;
    text-align: justify;
    
    >:nth-child(2){
        margin-left: 0.2rem;
    }
}
.user-information{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    > figure{
        border-radius: 50%;
        background-color: rgb(12, 192, 132);
        display: inline-flex;
        > svg{
            width: 2.2rem;
            height: 2.2rem;
            color: #fff;
        }
}
        
    > div{
        font-size: 0.75rem;
        color: gray;

        > h3{
            font-size: 1rem;
            margin-bottom: 0.1rem;
            color: black;
        }
    }
}