@import "../../../../../variables";
.comment-container{
    font-family: ($body-label-tittle-font);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;
    width: 30rem;
    text-align: justify;
    
    >:nth-child(2){
        margin:0 0.5rem;
    }
}
.user-information{
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    .user-image {
        border-radius: 50%;
        background-color: rgb(12, 192, 132);
        display: inline-flex;
        width: fit-content;
        height: fit-content;
        > svg{
            width: 2.2rem;
            height: 2.2rem;
            color: #fff;
        }
    }
        
    > div{
        font-size: 0.75rem;
        color: gray;

        > h3{
            font-family: ($body-label-tittle-font);
            font-weight: 700;
            font-size: 1rem;
            margin-bottom: 0.1rem;
            color: black;
        }
    }
}