@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=IBM+Plex+Serif:wght@100;200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@import "./variables";
@import "./mixins";

body > div:first-child {
  font-family: 'Source Sans Pro';
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
  }
}
