@import "./../../../../mixins";

.NavLink {
  position: relative;

  &__link {
    position: relative;
    // color: #2a2a2a;
    text-decoration: none;

    header & {
      font-weight: 700;
      font-size: 1.125rem;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.125rem;
      border-radius: 0.25rem;
      background-color: #18272f;
      bottom: 0;
      left: 0;
      transform-origin: center;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &--active {
      pointer-events: none;
      color: #18272f;

      &::before {
        transform: scaleX(1);
      }
    }

    @include media-hover-effect() {
      &:hover::before {
        transform-origin: center;
        transform: scaleX(1);
      }
    }
  }

  @include media-breakpoint-up($screen-lg) {
    header &:not(:last-child)::after {
      content: "";
      position: absolute;
      background-color: #fdcb6e;
      width: 0.4rem;
      height: 0.4rem;
      border-radius: 50%;
      top: 35%;
      right: -1.5rem;
    }
  }
}
