@import "./../../../mixins";

.ExploreContainer {
  margin-inline: 4rem;
  
  &__content {
    h2 {
      font-weight: 700;
      font-size: 3.625rem;
      color: #130f49;
    }

    p {
      font-weight: 400;
      font-size: 1.5rem;
      opacity: 0.6;
      margin-block: 2.5rem;
    }
  }

  &__mockup {
    width: 13.688rem;
    height: 13.688rem;
    border-radius: 50%;
    background-color: #fbdcad;
    @include center-grid;
    place-items: center;
    margin-inline: auto;

    img {
      width: 100%;
      height: 100%;
      max-width: 335.57px;
      max-height: 305.06px;
      object-fit: cover;
    }
  }

  @include media-breakpoint-up($screen-md) {
    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;

      > div {
        flex: 50%;
      }
    }

    &__mockup {
      width: 27.688rem;
      height: 27.688rem;
    }
  }
}
